body *{
  font-family: sans-serif;
  box-sizing: border-box;
}

nav {
  width: 15%;
  float: left;
}

#content{
  float: left;
  max-width: 80%;
  border: solid black 1px;
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
}

video {
  width: 100%;
  max-height: 500px;
}

pre {
  border: solid 1px;
  border-color: rgba(125, 125, 125, 0.5);
  padding: 10px;
  overflow-x: auto;
}

pre, pre *{
  font-family: monospace;
}

p, pre{
  font-size: 12;
}

.scroller {
  width: 100%;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.mobileNav{
  display: none;
}

.mobileMenu{
  display: none;
}

@media only Screen and (max-width: 768px) {

  #content{
    max-width: 100%
  }

  .hidden {
    display: none;
  }

  .mobileMenu{
    display: block;
    background-image: url("images/menuicon.png");
    background-size: 50px;
    width: 50px;
    height: 50px;
  }

  nav {
    position: absolute;
    transform: scale(2);
    transform-origin: top left;
    width: 30%;
  }
}
@media only Screen and (max-width: 375px) {
  img.logo{
    width: 150px;
  }
}
