<h1>Streaming</h1>
<h2>Einleitung</h2>
<p>
  Beim Streaming wird nicht das ganze Video auf einmal geladen, sonder das video ist in verschiedene Abschnitte aufgeteilt, welche nacheinander geladen werden.
  Dabei kann es auch verscheidene Qualitäten nachladen.
</p>
<h2>Beispiel Adaptive Bit Streaming</h2>
<p>
  Das folgende Video ist ein stream velches mit dem video.js library umgesetzt wurde. diese holt automatisch das nächse Stream segment mit der Bitrate welche
  gerade zu den gegebenen Umständen(Bandbreite, CPU auslastung etc.) passt. Auf dem Server befinded sich eine Manifest Datei mit allen informatione und natürlich die Segmente.
  Die verschiedenen Segmente haben Quadrate in den Ecken um die verscheidenen Bitraten zu unterscheiden.
</p>
<pre class="js-fileContentReader sh_xml">
  <span class="file" style="display: none;">streams/testStream/manifest.mpd</span>
</pre>
<video id="testStream" class="js-streamingController">
</video>
