<h1>Untertitel</h1>
<h2>Einleitung</h2>
<p></p>
<h2>Grundlagen</h2>
<p>
  Untertitel werden in einem &lt;video&gt; mit einem &lt;track&gt; definiert. Zum Beispiel gibt der folgende Code das darauffolgende Video:
</p>
<pre class="sh_html">
  &lt;video controls&gt;
    &lt;source src=&quot;video\examplevid.mp4&quot; type=&quot;video/mp4&quot;&gt;
    &lt;track kind=&quot;subtitles&quot; src=&quot;subtitles\exampleSubtitles30s.vtt&quot; srclang=&quot;de&quot;&gt;
  &lt;/video&gt;
</pre>

<pre class="js-fileContentReader">
  <span class="file"  style="display: none;">subtitles/exampleSubtitles30s.vtt</span>
</pre>
<video>
  <source src="video\examplevid.mp4" type="video/mp4">
  <track kind="subtitles" src="subtitles\exampleSubtitles30s.vtt" srclang="de">
</video>
<h2>Typen von Untertitel</h2>
<p>
  Der &lt;track&gt; hat ein Attribut namens "kind", welches einer der folgened Werten annehmen kann:
  <ol>
    <li>subtitles: Übersetzungen aus andern Sprachen</li>
    <li>captions: Synchrone Transskription für hörbehinderte Menschen</li>
    <li>descriptions: Beschreibung des Videos für Sehbehinderte Menschen</li>
  </ol>
</p>
<h2>Übersetzungen</h2>
<p>
  Der &lt;track&gt; hat auch ein Attribut namens "scrlang", welches dem IETF BCP 47 code der Sprache enspricht, welches es übersetzt.
  Zum Beispiel hat das folgende Video einen Untertitel jeweils für Englisch, Deutsch, und Zürcher Deutsch:
</p>
<pre class="js-fileContentReader">
  <span class="file" style="display: none;">subtitles/exampleSubtitlesEN.vtt</span>
</pre>
<pre class="js-fileContentReader">
  <span class="file" style="display: none;">subtitles/exampleSubtitlesDE.vtt</span>
</pre>
<pre class="js-fileContentReader">
  <span class="file" style="display: none;">subtitles/exampleSubtitles_gsw-u-sd-chzh.vtt</span>
</pre>
<pre class="sh_html">
  &lt;video controls&gt;
    &lt;source src=&quot;video\examplevid.mp4&quot; type=&quot;video/mp4&quot;&gt;
    &lt;track kind=&quot;subtitles&quot; src=&quot;subtitles\exampleSubtitlesEN.vtt&quot; srclang=&quot;en&quot;&gt;
    &lt;track kind=&quot;subtitles&quot; src=&quot;subtitles\exampleSubtitlesDE.vtt&quot; srclang=&quot;de&quot;&gt;
  &lt;track kind=&quot;subtitles&quot; src=&quot;subtitles\exampleSubtitles_gsw-u-sd-chzh.vtt&quot; srclang=&quot;gsw-u-sd-chzh&quot;&gt;
</pre>
<video>
  <source src="video\examplevid.mp4" type="video/mp4">
  <track kind="subtitles" src="subtitles\exampleSubtitlesEN.vtt" srclang="en">
  <track kind="subtitles" src="subtitles\exampleSubtitlesDE.vtt" srclang="de">
  <track kind="subtitles" src="subtitles\exampleSubtitles_gsw-u-sd-chzh.vtt" srclang="gsw-u-sd-chzh">
</video>
